body {
    margin: 0;
    padding: 0;
   
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    //     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    //     sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Contact {
border: 1px solid rgb(181, 176, 176);
width: 1000px;
margin: 0 auto;
    & .w3-bar-item, & .w3-button{
        background-color: rgb(210, 208, 208);
        color: rgba(0, 0,0,0.6);
        position: fixed;
        &:hover{
            color: rgba(242, 74, 8, 0.6)!important;
        }
    }

    & #allcontact {
        padding: 10px;
        width: 900px;
        display: flex;
        margin: 30px auto 10px;
        background-color: white;

        & .leftcontact {
            border-right: 1px solid rgb(181, 176, 176);
            padding: 10px;
            width: 50%;

            & h1 {
                color: rgb(245, 142, 102);
                font-family: "Raleway", Arial, sans-serif;
                text-align: center;
            }

            & button {
                border: 1px solid white;
                outline: none;
                padding: 10px;
                resize: none;
            }
        }

        & .rightcontact {
            padding: 10px;
            width: 50%;

            & input,
            & textarea {
                outline: none;
                padding: 10px;
                resize: none;
                font-size: 15px;
                border: 1px solid rgb(223, 217, 217);
            }

            & #submit {
                background-color: rgb(210, 208, 208);
                color: rgba(0, 0,0,0.6);
               
                // float: right;
                 &:hover{
            color: rgba(242, 74, 8, 0.6)!important;
                
                }
            }

        }

        & footer {
            padding: 10px;
            text-align: center;
        }

    }


}